.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: transform 250ms ease-out;
  gap: 10px;
  background-color: #fff;
  box-shadow: 3px 3px 10px 3px rgba(217,214,217,0.61);
  border-radius: 10px;
}
.banner {
  position: relative;
  text-align: center;
}
.centered {
  color: var(--main-white);
  font-size: 1.3rem;
  font-weight: 600;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-img {
  padding: 2em 0;
  /* min-height: 150px; */
}
.product-name {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--main-blue);
}
.product-price {
  color: var(--main-orange);
  font-weight: 500;
}
.order-button:hover {
  transform: scale(1.03);
}
