.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
}
.banner {
  position: relative;
  text-align: center;
}
.centered {
  color: var(--main-white);
  font-size: 1.3rem;
  font-weight: 600;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-img {
  padding: 2em 0;
}
.product-name {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--main-blue);
}
.product-price {
  color: var(--main-orange);
  font-weight: 500;
}
.product-card:hover {
  transform: scale(1.1);
}
