.cart-main {
  color: #fbfbfb;
  background-image: linear-gradient(#0d0900, #0b0907);
  min-height: 85vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}



.remove-button {
  background-color: #6c0f0f;
}

.cart-redirect {
  display: flex;
  align-self: center;
  padding: 0.625em 1.25em;
  font-size: 1.2em;
  display: inline-block;
  background-color: #ecc19e;
  border-radius: 5px;
  border: 1px solid #40361d;
}
.cart-redirect:hover {
  transform: scale(1.05);
}
.cart-redirect > a {
  color: #0d0900 !important;
  font-weight: 600;
}
