li[hover-visible="true"] {
  color: var(--main-pink);
  font-size: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}
.delivery-buttons-wrapper{
  display:flex;
  gap:3em;
}
@media (max-width: 600px){
    li[hover-visible="true"] {
        font-size: 1.2rem;
        font-weight: 600;
    }
}