/*FOOTER*/
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 1px;
  gap: 2em;
  padding: 5em;
}
.footer-navigation a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--main-grey);
}
.footer-flex-top {
  display: flex;
  justify-content: space-between;
}
.footer-flex-bottom {
  padding-top: 2em;
  border-top: 1px solid var(--main-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.utility-pages-wrapper {
  display: flex;
  gap: 2em;
  color: var(--main-grey);
}
.link-wrapper {
  display: flex;
  gap: 2em;
}
.footer-link {
  color: var(--main-grey);
}
/* GLOBAL SETTINGS */
a,
a:visited,
a:focus {
  text-decoration: none;
}

@media (max-width: 600px) {
  footer,
  .footer-navigation,
  .footer-flex-top,
  .footer-flex-bottom,
  .link-wrapper,
  .utility-pages-wrapper {
    justify-content: center;
    font-size: 10px;
    gap: 10px;
  }
}
