.home-main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 85vh;
  background-image: url("/src/assets/sushi-restaurant.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  resize: both;
}

.button-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 15vh;
}

.store-button,
.reserve-button {
  padding: 0.625em 1.25em;
  letter-spacing: 2px;
  display: inline-block;
  background-color: #0d0900;
  border-radius: 5px;
  border: 2px solid #40361d;
  color: #ecc19e;
}
.store-button:hover,
.reserve-button:hover {
  transform: scale(1.01);
}
.store-button:active,
.reserve-button:active {
  border: 2px solid #40361d;
}
@media (max-width: 500px) {
  .home-main {
    background-position: 25%;
  }
}
