.home-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section {
  display: flex;
  justify-content: space-between;
  margin-left: 5em;
  margin-bottom: 2em;
}
.section-one > .content {
  margin-top: 5em;
}
.section-two > .content {
  margin: 0em 15em;
}
.section-three {
  margin-right: 5em;
}
/* .section-three > .content {
  margin: 5em 15em 5em 0em;
} */
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-list > li {
  display: flex;
  align-items: center;
  color: var(--main-grey);
  gap: 20px;
}
.menu-wrapper {
  display: flex;
  margin-top: 5em;
}
.menu-list-li {
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: var(--main-grey);
  font-size: 1.5rem;
  margin-right: 10em;
}
.menu-list-li > .first-li {
  margin-bottom: 10px;
}
.menu-list-li > li:nth-child(2) {
  color: var(--main-orange);
  font-size: 1.7rem;
  font-weight: 600;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section-breadcrumbs {
  color: var(--main-orange);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
.section-title {
  font-size: 3em;
  color: var(--main-blue);
}
.section-paragraph {
  color: var(--main-grey);
  line-height: 1.7;
}
.store-button {
  background-color: var(--main-orange);
  border-radius: 5px;
  border: 1px solid var(--main-orange);
  color: var(--main-white);
}

@media (max-width: 500px) {
  .home-main,
  .section {
    flex-direction: column;
  }
  .content {
    margin: 10px;
  }
  /* .section > img{
    here i need to fix img for mobile
    transform: translateX(0%);
  } */
}
