.home-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section {
  display: flex;
  justify-content: space-between;
  margin-left: 5em;
  margin-bottom: 2em;
}
.section-one {
  margin: 5em;
}
.section-one > .content {
  max-width: 50%;
}
.section-one > .content > .landing-img {
  padding-right: 2em;
}

.section-one > .content > .section-title {
  margin-top: 2em;
}
.title-highlight {
  color: var(--main-pink);
}
.section-two > .content {
  margin: 0em 15em;
}
.section-three {
  margin-right: 5em;
}
.section-three > .content {
  margin: 5em 15em 5em 0em;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-list > li {
  display: flex;
  align-items: center;
  color: var(--main-grey);
  gap: 20px;
}
.menu-wrapper {
  display: flex;
  margin-top: 5em;
}
.section-four {
  flex-direction: column;
  margin-right: 5em;
  gap: 2em;
}
.section-four-content {
  gap: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reservation-img,
.tradition-img {
  border-radius: 5%;
}
.section-centered-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2em;
  align-items: center;
  align-self: center;
}
.menu-list-li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: var(--main-blue);
  font-size: 1.3rem;
}
.menu-list-li > li {
  background-color: #fff;
  box-shadow: 3px 3px 10px 3px rgba(217, 214, 217, 0.61);
  border-radius: 0px 3em;
  padding: 1em;
  text-align: center;
}
.menu-list-li > li:hover:not(li:nth-child(2)) {
  transform: scale(1.05);
  color: var(--main-pink);
  cursor: pointer;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
.products-wrapper-total {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.products-go-to-cart-button {
  padding: 0.625em 1.25em;
  font-size: 1.2em;
  display: inline-block;
  border-radius: 0px 30px;
  background-color: var(--main-white);
  border: 1px solid var(--main-pink);
  color: var(--main-pink);
  margin-top: 2em;
}
.section-five {
  margin: 0;
  background-color: var(--main-orange);
  padding-bottom: 5em;
}
.section-five > .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.section-five > .content > .section-title,
.section-five > .content > a > .section-breadcrumbs,
.section-five > .content > .section-paragraph {
  color: var(--main-white);
  text-align: center;
}
.section-five > .content > .section-paragraph {
  font-size: 1.2em;
}
.book-button {
  padding: 0.625em 1.25em;
  display: inline-block;
  background-color: var(--main-orange);
  border-radius: 5px;
  border: 1px solid var(--main-white);
  color: var(--main-white);
}
.section-breadcrumbs {
  margin-top: 5em;
  color: var(--main-pink);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
.section-title {
  position: relative;
  overflow: hidden;
  font-size: 3em;
  color: var(--main-blue);
}
.section-paragraph {
  color: var(--main-grey);
  line-height: 1.7;
}
.store-button {
  background-color: var(--main-pink);
  border-radius: 5px;
  border: 1px solid var(--main-pink);
  color: var(--main-white);
}

.arrow-top[data-visible="true"] {
  display: block;
}

.floating-title {
  font-size: 90px;
  letter-spacing: 10px;
  width: 150%;
  position: absolute;
  left: -25%;
  top: -10px;
  opacity: 0.1;
}

@media (max-width: 1300px) {
  .section-breadcrumbs {
    margin-top: 1em;
  }
  .section-three > .content {
    margin: 5em 0em;
  }
  .home-main,
  .section {
    margin: 10px;
    font-size: large;
  }
  .section-one > .content {
    align-items: center;
    margin: 1em 0em;
  }
  .products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-two > .content,
  .section-three > .content,
  .section-four-content {
    align-items: center;
    margin: 1em;
  }
  .section-one > .content > .section-title {
    text-align: left;
  }

  .section-two > .content > button {
    align-self: flex-end;
  }

  .section-three {
    display: flex;
    align-items: flex-end;
  }
  .section-three > img {
    /* align-self: flex-end; */
    width: 400px;
  }

  .section-four-content {
    flex-direction: column;
  }

  .section-two > a > img,
  .section-three > a > img {
    height: 500px;
  }
  .section-five {
    margin-top: 0;
  }
  .section-five > img {
    width: 20%;
  }

  .section-title {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .reservation-img,
.tradition-img {
  border-radius: 5%;
  max-width:100%;
}
  .section-breadcrumbs {
    margin-top: 1em;
  }
  .home-main,
  .section {
    flex-direction: column;
    margin: 10px;
    font-size: large;
  }
  .section-one > .content {
    align-items: center;
    min-width: 100%;
    margin: 1em 0em;
  }
  .section-two > .content,
  .section-three > .content,
  .section-four-content,
  .menu-list-li {
    align-items: center;
    margin: 1em;
  }
  .section-one > .content > .section-title {
    text-align: left;
  }

  .section-two > .content > button {
    align-self: center;
  }

  .section-three {
    display: flex;
    align-items: flex-end;
  }
  .section-three > img {
    /* align-self: flex-end; */
    width: 400px;
  }
  .menu-list-li {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }
  .products-wrapper {
    grid-template-columns: auto;
  }
  .section-four-content {
    flex-direction: column;
  }

  .section-five img {
    width: 50%;
  }
  .section-five {
    margin-top: 0;
  }

  .section-five > .right-img {
    align-self: flex-end;
  }

  .section-one > .content > .section-title {
    margin-top:1em;
    padding: 5px;
    text-align: center;
  }
}
