header {
  justify-content: space-between;
  background-color: #0d0900;
  border-bottom: 1px solid #ecc19e;
  position: sticky;
  height: 10vh;
}
.logo {
  margin: 2rem;
}

@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2em !important;
    background: rgba(24, 20, 12, 0.822);
  }
}

/* UTILITY */
.flex {
  display: flex;
  align-items: center;
  gap: var(--gap, 4rem);
}
.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
.primary-navigation a {
  text-decoration: none;
}
