.nav-bar {
  background-color: #0d0900;
  display: flex;
  border-bottom: 1px solid #ecc19e;
  justify-content: center;
  gap: 50px;
  height: 10vh;
  font-size: 1.3rem;
  align-items: center;
  position: sticky;
}
