header {
  background-color: #0d0900;
  border-bottom: 1px solid #ecc19e;
  position: sticky;
  height: 10vh;
}
.logo{
  margin: 2rem;
}

nav {
  color: white;
}
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap, 4rem);
}

nav > a {
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.small-nav {
  display: none;
}
@media screen and (max-width: 600px) {
  .small-nav {
    display: block;
  }
}
