* {
  border: 0;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
}

/* GLOBAL SETTINGS */

button:hover {
  cursor: pointer;
  transform: scale(1.01);
}
button:active {
  border: 2px solid black;
}

a,
a:visited,
a:focus {
  color: #ecc19e;
  text-decoration: none;
}

button {
  padding: 0.625em 1.25em;
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  height: 50px;
  background-color: #0d0900;
  border-radius: 5px;
  border: 1px solid #40361d;
  color: #ecc19e;
}
