#subscribe-email {
  width: 15em;
  border-radius: 2em 0em;
  text-align: left;
  padding: 1em;
  font-size: 1.1em;
}
.sub-event-wrapper{
  display: flex;
  gap:1em;
  margin-bottom:5em;
  align-items: center;
}
.subscribe-text {
  color: var(--secondary-blue);
}
@media (max-width: 600px) {
    #subscribe-email {
        width: 10em;
        font-size: 1em;
    }
    .sub-event-wrapper{
      flex-direction: column;
      margin-bottom:0;
    }
}