
.section-testimonials {
  display: flex;
  color: var(--main-blue);
  line-height: 1.7;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  max-width: 1300px;
  padding: 3em 10em;
  margin: auto;
  background-color: var(--main-yellow);
}

.customers-number {
  display: flex;
  align-items: center;
  gap: 1em;
}
.number {
  font-size: 4.5em;
  font-weight: 800;
  font-style: italic;
}
.description {
  font-size: 1.5em;
}
.testimonial-message {
  display: flex;
  align-items: center;
  gap: 1em;
  max-width: 50%;
}

.testimonial-pic {
  border-radius: 50%;
}
.testimonial-message-text {
  letter-spacing: 1px;
}
@media (max-width: 600px) {

  .section-testimonials {
    margin: 10px -10px;
    padding:1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .testimonial-message {
    flex-direction: column;
    text-align: center;
    max-width: 80%;
  }
  .number {
    font-size: 2em;
  }
  .description {
    font-size: 1em;
  }
  .testimonial-pic {
    width: 100px;
  }

  .customers-number {
    flex-direction: column;
  }
}
