@media (min-width: 1500px) {
  .cart-main {
    padding: 20px 300px;
  }
}
.cart-main {
  color: #fbfbfb;
  background-color: #b2b4ac;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

.remove-button {
  background-color: #6c0f0f;
}

.cart-redirect {
  display: flex;
  align-self: center;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #40361d;
  font-weight: 600;
}

.cart-redirect > a {
  color: #0d0900 !important;
  font-weight: 600;
}
.cart-redirect > a:hover {
  transform: scale(1.03);
}
.bag-empty,
.checkout {
  background-color: #ecc19e;
  padding: 0.625em 1.25em;
}
