.contact-main {
  color: #302e1c;
  gap: 20px;
  background-color: #b2b4ac;
  min-height: 85vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.contact-info {
  font-size: 3rem;
}
.contact-go-to-store {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact-cart-check {
  font-size: 1.4rem;
  color: #302e1c;
}
.contact-cart-full {
  color: #ede6e1;
  font-size: 1.4rem;
  display: flex;
  align-self: center;
  background-color: #232220;
  padding: 3em;
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 14px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 3px 14px -4px rgba(0, 0, 0, 0.75);
  max-width: 600px;
}
.contact-order-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.order-list {
  margin-bottom: 40px;
}
